/* CSS by Lucia and Sanchi */
/* Edited by Des */
.register {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
    color: #ffffff;
    text-align: center;
    z-index: 1;
}

ul {
    display: inline-block;
    text-align: left;
}

body{
    background-color: #393946 ;
}

.btn-dark{
    background-color: #409843 ;
    border-color: #409843 ;
}

@media screen and (min-width: 700px){
    .container{
        font-size: 20px;
    }
}
