/* CSS by Lucia and Sanchi */
.register {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
    color: #ffffff;
    text-align: center;
    z-index: 1;
}

ul {
    display: inline-block;
    text-align: left;
}

body{
    background-color: #393946 ;
}

.btn-dark{
    background-color: #409843 ;
    border-color: #409843 ;
}

.container{
    margin-left: 0%;
    margin-top: 2.5%;

    height: 31.25em;
    width: 31.25em;
    /* uncomment to see border: 1px solid white; */
    position: absolute;
    transform: translate(-50%,-50%);
    top: 70%;
    left: 50%;
    color: #ffffff;
    z-index: -1;
}

.earth{
    background-color:#395bc1 ;
    height: 14em;
    width: 14em;
    border-radius: 50%;
    position:absolute;
    margin: auto;
    left:0;
    right:0;
    top:0;
    bottom:0;
    z-index: -1;
    box-shadow: 0 0 0 0.6em rgba(255,255,255,0.05), 0 0 0 1.2em rgba(255,255,255,0.05), 0 0 0 1.8em rgba(255,255,255,0.05);
}

.sun{
    background-color: rgb(236, 211, 46) ;
    border-radius: 50%;
    position: relative;
    height: 2em;
    width: 2em;
    top: 8em;
    z-index: 0;
}


/*main top blob cat sat on */
.blob1{
    background-color:#409843 ;
    display: inline-block;
    /*border-radius: 20% 80% 33% 67% / 69% 69% 31% 31%;*/
    border-radius: 57% 43% 44% 56% / 28% 43% 57% 72%;
    height: 6em;
    width: 8em;
    top: -2.8em;
    left: 1em;
    z-index: -1;
    position: relative;
}

/*blob closest to register */
.blob2{
    background-color:#409843 ;
    display: inline-block;
    border-radius: 85% 15% 79% 21% / 76% 72% 28% 24%;
    height: 5em;
    width: 5em;
    position: relative;
    left: 2em;
    top: 3em;
}

/* blob furthest from cat */
.blob3{
    background-color:#409843 ;
    border-radius: 18% 82% 52% 48% / 53% 88% 12% 47%;
    height: 5em;
    width: 5em;
    position: relative;
    left: 2em;
    top: -1em;
}

/* blob furthest from register */
.blob4{
    background-color:#409843 ;
    border-radius: 20% 80% 33% 67% / 69% 69% 31% 31%;
    height: 5em;
    width: 4em;
    display: inline-block;
    position: relative;
    right: 7em;
    top:-2em;
}

/* top of compound one */
.blob5{
    background-color:#409843 ;
    border-radius:57% 43% 24% 76% / 66% 43% 57% 34%;
    height: 5em;
    width: 5em;
    display: inline-block;
    position: relative;
    left: -3em;
    top: 2em;
}


.blob6{
    background-color:#409843 ;
    border-radius:57% 43% 24% 76% / 66% 43% 57% 34%;
    height: 2em;
    width: 3em;
    display: inline-block;
    position: relative;
    left: 1em;
    top: -5em;
}




.orbit{
    /*height: 18.75em;
    width: 18.75em;*/
    height:35em;
    width:35em;
    /* to see uncomment border: 1px solid white; */
    border-radius: 50%;
    position: absolute;
    left:-10.5em;
    bottom: -10.5em;
    animation: spin 8s infinite linear; 

}

@keyframes spin{
    100%{
        transform: rotate(360deg);
    }
}

.cat{
    transform: scale(0.7) rotate(-90deg);
    /*border: 1px solid white; */
    border-radius: 50%;
    /*increase these to bring closer to earth */
    position: relative;
    height:14em;
    width:14em;
    z-index: 1;
}


@media screen and (min-width: 700px){
    .container{
        font-size: 20px;
    }
}
