{% extends "base.html" %}

{% load static %}

{% block title %}
    Cat
{% endblock %}

{% block head %}
    <!-- placeholder favicon -->
    <link rel="icon" type="image/x-icon" href="{% static 'cat-face.png' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'cat_animation.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'recycling_bin.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'tupperware.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'waterbottle.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'advice.css' %}">

    <style>                                     
        body {
            background-color: #649756;
        }
        div.row {
            height: 25%;
        }
    </style>
{% endblock %}

{% block content %}
<div class = "container">
    <div class = "bubble">
        <span id = "advice" class = "speech">hello this is a super long sentence</span>
    </div>
    <div class = "bubble2"></div>
    <div class = "bubble3"></div>
</div>
<div class="container-1">
    <div class="cat">
        <div class="face">
            <div class="inner-l"></div>
            <div class="inner-r"></div>
            <div class="eye-l">
                <div class = "eyeball"><div class="eyeshine"><div class="eyeshine2"></div></div></div>
            </div>
            <div class="eye-r">
                <div class = "eyeball"><div class="eyeshine"><div class="eyeshine2"></div></div></div>
            </div>
            <div class="nose">
                <div class="l1"></div>
                <div class="l2"></div>
            </div>
            <div class="tear" id = "tear"></div>
        </div>
        <div class="body">
            <div class="paw-l"></div>
            <div class="paw-r"></div>
            <div class="tail"></div>
        </div>
        <div class="shadow"></div>
    </div>
    <div class = "litter">
        <div class="litter-box-top-line"></div>
        <div class="litter-box"></div>
        <div class="litter-box-bottom"></div>
        <div class="litter-box-bottom-l"></div>
        <div class="litter-box-bottom-r"></div>
    </div>
    <div class="poop" id = "poop">
        <div class="poop-1"></div>
        <div class="poop-2"></div>
        <div class="poop-3"></div>
    </div>
</div>

    <div class="fixed-bottom">
        <div class="row">
            <div class="col-4">
                <div class="d-inline-block">
                    <a href="" onclick="return sendPostRequest([0,0],'feed');">
                        <div class="container-2">
                            <div class ="tupperware">
                                <div class="tup-cap"></div>
                                <div class="tup-box-top-line"></div>
                                <div class="tup-box"></div>
                                <div class="tup-box-bottom"></div>
                                <div class="tup-box-bottom-l"></div>
                                <div class="tup-box-bottom-r"></div>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
            <div class="col-4">
                <div class="d-inline-block">
                    <a href="" onclick="return geoLocate('water');">
                        <div class="container-3">
                            <div class="waterbottle">
                                <div class="bottle-cap">
                                    <div class = "cap-shine"></div>
                                    <div class = "cap-shine-2"></div>
                                    <div class ="cap-shadow"></div>
                                </div>
                                <div class="bottle-top"></div>
                                <div class="bottle-bottom"></div>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
            <div class="col-4">
                <div class="d-inline-block">
                    <a href="" onclick="return geoLocate('litter');">
                        <div class="container-4">
                            <div class ="recycling-bin">
                                <div class="cap-top"></div>
                                <div class="cap">
                                    <div class="hole"></div>
                                </div>
                                <div class="box-top-line"></div>
                                <div class="box">
                                    <span id = "symbol" class="recycling-symbol">&#9851;</span>
                                </div>
                                <div class="box-bottom-l"></div>
                                <div class="box-bottom-r"></div>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
        </div>
        <br>
    </div>

    <script>
        function geoLocate(task) {
           
            function success(position) {
                const latitude = position.coords.latitude;
                const longitude = position.coords.longitude;
                var coordinates = new Array(2);
                coordinates = [latitude, longitude];
                sendPostRequest(coordinates, task);
            }
            
            function error() {
                alert("unable to retrieve your location");
            }
            
            if (!navigator.geolocation) {
                alert("geolocation is not supported by your browser");
            } else {
            const options = {
            enableHighAccuracy: true,
            maximumAge: 30000,
            timeout: 27000
            };
                navigator.geolocation.getCurrentPosition(success, error, options);
                return success();
            }
        }

        function sendPostRequest(coordinates, task) {
            let csrftoken = '{{ csrf_token }}'
            var dictionary = {
                'coordinates': coordinates, 
                'task': task
            }
            
            var url = "";
            var cat="coordinates="+coordinates+"&task="+task;
            fetch(url, {
                credentials: 'include',
                method: 'POST',
                mode: 'same-origin',
                headers: {
                'Content-Type': 'application/x-www-form-urlencoded',
                'X-CSRFToken': csrftoken
                },
                body: cat, 
            });
        }
        let watered = '{{ watered }}';
        let cleaned = '{{ cleaned }}';
        if (watered == 'True' && cleaned == 'True') {
            document.getElementById("tear").style.display = "none";
        }
        if (cleaned == 'True') {
            document.getElementById("poop").style.display = "none";
        }
    </script>
{% endblock %}
