<!-- Page created by Des -->
<!-- Sanchi did Django integration -->
<!-- Jessie navigated for POST requests with Des as driver -->

{% extends "base.html" %}

{% load static %}

{% block title %}
    Cat
{% endblock %}

{% block head %}
    <!-- Placeholder favicon -->
    <link rel="icon" type="image/x-icon" href="{% static 'cat-face.png' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'cat_animation.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'recycling_bin.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'tupperware.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'waterbottle.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'advice.css' %}">

    <style>                                     
        body {
            background-color: #649756;
        }
        div.row {
            height: 25%;
        }
        .pop-up {
            height: 150px;
            width: 300px;
            background-color: #649756;
            border-radius: 7%;
            border: 3.5px solid white;
            position: absolute;
            margin: auto;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            z-index: 2;
            display: flex;
        }

        .locating{
            margin: auto;
            display: flex;
            align-items:center;
            justify-content:center;
            text-align:center;
            font-size: 25px;
        }

        .locating span {
            display: inline-flex;
            color: white;
            font-family: "Comic Sans MS", "Comic Sans", cursive;
            animation: bounce 1.5s infinite;
        }

        @keyframes bounce{
            0%,
            50%,
            100% {
                transform: translateY(0);
            }
            25% {
                transform: translateY(-15px);
            }
        }

        .pop-up span:nth-of-type(1) {
            animation-delay: 0.05s;
        }
        .pop-up span:nth-of-type(2) {
            animation-delay: 0.1s;
        }
        .pop-up span:nth-of-type(3) {
            animation-delay: 0.15s;
        }
        .pop-up span:nth-of-type(4) {
            animation-delay: 0.2s;
        }
        .pop-up span:nth-of-type(5) {
            animation-delay: 0.25s;
        }
        .pop-up span:nth-of-type(6) {
            animation-delay: 0.3s;
        }
        .pop-up span:nth-of-type(7) {
            animation-delay: 0.35s;
        }
        .pop-up span:nth-of-type(8) {
            animation-delay: 0.4s;
        }
        .pop-up span:nth-of-type(9) {
            animation-delay: 0.45s;
        }
        .pop-up span:nth-of-type(10) {
            animation-delay: 0.5s;
        }
        .pop-up span:nth-of-type(11) {
            animation-delay: 0.55s;
        }

        /* Row of three buttons */
        #btn-row {
            margin-top: 320px;
            padding-top: 320px;
            display: flex;
            flex-direction: row;
            justify-content: flex-start;
        }
        
    </style>
{% endblock %}

{% block content %}
<div id = "pop-up" class = "pop-up">
    <h3 class="locating">
        <span>l</span>
        <span>o</span>
        <span>c</span>
        <span>a</span>
        <span>t</span>
        <span>i</span>
        <span>n</span>
        <span>g</span>
        <span>.</span>
        <span>.</span>
        <span>.</span>
    </h3>
</div>
<div id = "bubble" class = "container">
    <div class = "bubble">
        <div class = "allspeech">
            <span id = "message" class = "speech"></span>
            <span id = "content" class = "speech1"></span>
            <span id = "source" class = "speech2"></span>
        </div>
    </div>
    <div class = "bubble2"></div>
    <div class = "bubble3"></div>
</div>

<div id = "hat-container" class="hat-container">
    {% load static %} 
    <img id = "hat" width = '220', height = '220' src = "{% static 'blank-hat.png' %}">
</div>

    <div class="container-1">
        <div class="cat">
            <div class="face" id="face">
                <div class = "ear-l" id="ear-l"></div>
                <div class = "ear-r" id="ear-r"></div>
                <div class="inner-l"></div>
                <div class="inner-r"></div>
                <div class="eye-l" id="eye-l">
                    <div class = "eyeball"><div class="eyeshine"><div class="eyeshine2"></div></div></div>
                </div>
                <div class="eye-r" id="eye-r">
                    <div class = "eyeball"><div class="eyeshine"><div class="eyeshine2"></div></div></div>
                </div>
                <div class="nose">
                    <div class="l1"></div>
                    <div class="l2"></div>
                </div>
                <div class="tear" id = "tear"></div>
            </div>
            <div class="body" id="body">
                <div class="paw-l" id="paw-l"></div>
                <div class="paw-r" id="paw-r"></div>
                <div class="tail" id="tail"></div>
            </div>
            <div class="shadow"></div>
        </div>
        <div class = "litter">
            <div class="litter-box-top-line"></div>
            <div class="litter-box"></div>
            <div class="litter-box-bottom"></div>
            <div class="litter-box-bottom-l"></div>
            <div class="litter-box-bottom-r"></div>
        </div>
        <div class="poop" id = "poop">
            <div class="poop-1"></div>
            <div class="poop-2"></div>
            <div class="poop-3"></div>
        </div>
    </div>


    <div class="container-fluid" id="btn-row">
        <div class="col-4">
            <div class="d-inline-block">
                <a id="tupperware" onclick="return getArticle();">
                    <div class="container-2">
                        <div class ="tupperware">
                            <div class="tup-cap"></div>
                            <div class="tup-box-top-line"></div>
                            <div class="tup-box"></div>
                            <div class="tup-box-bottom"></div>
                            <div class="tup-box-bottom-l"></div>
                            <div class="tup-box-bottom-r"></div>
                        </div>
                    </div>
                </a>
            </div>
        </div>
        <div class="col-4">
            <div class="d-inline-block">
                <a id="water" onclick="return geoLocate('water');">
                    <div class="container-3">
                        <div class="waterbottle">
                            <div class="bottle-cap">
                                <div class = "cap-shine"></div>
                                <div class = "cap-shine-2"></div>
                                <div class ="cap-shadow"></div>
                            </div>
                            <div class="bottle-top"></div>
                            <div class="bottle-bottom"></div>
                        </div>
                    </div>
                </a>
            </div>
        </div>
        <div class="col-4">
            <div class="d-inline-block">
                <a id="litter" onclick="return geoLocate('litter');">
                    <div class="container-4">
                        <div class ="recycling-bin">
                            <div class="cap-top"></div>
                            <div class="cap">
                                <div class="hole"></div>
                            </div>
                            <div class="box-top-line"></divE>
                            <div class="box">
                                <span id = "symbol" class="recycling-symbol">&#9851;</span>
                            </div>
                            <div class="box-bottom-l"></div>
                            <div class="box-bottom-r"></div>
                        </div>
                    </div>
                </a>
            </div>
        </div>
        <br>
    </div>


<script>

    function geoLocate(task) {
        /* 
        Gets user geolocation data.
        
        Authors:
            Des, Jessie
        */
        document.getElementById("pop-up").style.display = "";
        const temp = window.location.href.split("/kitty")[0];
        pageLink = temp + "/kitty/" + task;
        function success(position) {
            const latitude = position.coords.latitude;
            const longitude = position.coords.longitude;
            var coordinates = new Array(2);
            coordinates = [latitude, longitude];
            sendPostRequest(coordinates, task);
            window.location.href = pageLink;
        }
        
        function error() {
            alert("Unable to retrieve your location");
        }
        
        if (!navigator.geolocation) {
            alert("Geolocation is not supported by your browser");
        } else {
            
        const options = {
        enableHighAccuracy: true,
        maximumAge: 30000,
        timeout: 27000
        };

        navigator.geolocation.getCurrentPosition(success, error, options);
        }
    }

    function getArticle() {
        /* 
        Fetches articles from backend and displays them in a speech bubble on the page.
        
        Author:
            Des
        */
        sendPostRequest([0,0],'feed');
        alert("You have fed your cat!");
        document.getElementById("bubble").style.display = "";
        let message = '{{ message }}';
        let content = '{{ content }}';
        let source = '{{ source }}'; 
        document.getElementById("message").textContent = message;
        document.getElementById("content").textContent = content;
        document.getElementById("source").textContent = source;
        const temp = window.location.href.split("/kitty")[0];
        pageLink = temp + "/kitty/articles";
        window.location.href = pageLink;
    }

    function sendPostRequest(coordinates, task) {
        /* 
        Sends POST request to the backend containing user coordinates and task.
        User coordinates are set to (0, 0) if the tupperware is clicked.
        
        Authors:
            Des, Jessie
        */
        let csrftoken = '{{ csrf_token }}'
        var dictionary = {
            'coordinates': coordinates, 
            'task': task
        }
        
        var url = "";
        var cat="coordinates="+coordinates+"&task="+task;
        fetch(url, {
            credentials: 'include',
            method: 'POST',
            mode: 'same-origin',
            headers: {
            'Content-Type': 'application/x-www-form-urlencoded',
            'X-CSRFToken': csrftoken
            },
            body: cat, 
        });
    }
    /* 
    Fetches context variables to determine the state of the cat.
    
    Authors:
        Des
    */
    document.getElementById("pop-up").style.display = "none";
    let thirsty = '{{ thirsty }}';
    let stinky = '{{ stinky }}';
    let hungry = '{{ hungry }}';
    document.getElementById("bubble").style.display = "";
    let message = '{{ message }}';
    let content = '{{ content }}';
    let source = '{{ source }}'; 
    document.getElementById("message").textContent = message;
    document.getElementById("content").textContent = content;
    document.getElementById("source").textContent = source;
    if (message == '') {
        document.getElementById("bubble").style.display = "none";
    }
    if (thirsty == 'False' && stinky == 'False' && hungry == 'False') {
        document.getElementById("tear").style.display = "none";
    }
    if (stinky == 'False') {
        document.getElementById("poop").style.display = "none";
    }

    /* Load in cat colours and cat items. */

    let current_fur_colour = '{{ fur_colour }}'; 
    let current_eye_colour = '{{ eye_colour }}'; 
    let equipped_eye_colour = '{{ eye_colour }}';
    let currently_wearing = '{{ cat_item }}';
    let current_size = '{{ cat_item_scale }}'
    current_body_colour = current_fur_colour.split(",")[0];
    current_patches = current_fur_colour.split(",")[1];

    /* Get what the cat is currently wearing. */
    if (currently_wearing != 0) {
        document.getElementById("hat").src = "/static/" + currently_wearing + ".svg";
        document.getElementById("hat").width = current_size;
        document.getElementById("hat").height = current_size;
    }

    /* Change the cat's body and eye colours. */
    
    var colour = ["face", "body", "tail", "paw-r"];
    colour.forEach(function (item, index) {
        document.getElementById(item).style.backgroundColor = current_body_colour;
    });
    document.getElementById("ear-l").style.borderBottom = "50px solid " + current_body_colour;
    document.getElementById("ear-r").style.borderBottom = "50px solid " + current_patches;
    document.getElementById("paw-l").style.backgroundColor = current_patches;

    var eye_colour = ["eye-l", "eye-r"];
    eye_colour.forEach(function (item, index) {
        document.getElementById(item).style.backgroundColor = current_eye_colour;
    });
</script>
{% endblock %}