<!-- Page created by Des -->

{% extends "base.html" %}

{% load static %}

{% block title %}
    Shop
{% endblock %}

{% block head %}
    <!-- Placeholder favicon -->
    <link rel="icon" type="image/x-icon" href="{% static 'cat-face.png' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'cat_animation.css' %}">

    <style>                                     
        body {
            background-color: #649756;
        }
        div.row {
            height: 25%;
        }

        .colour-container{
            height: 700px;
            width: 550px;
            position: absolute;
            margin: auto;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            z-index: 0;
        }
        .eye-colour {
            height: 40px;
            width: 40px;
            border-radius: 50%;
            position: relative;
        }
        .fur-colour {
            height: 40px;
            width: 40px;
            border-radius: 50%;
            position: relative;
            left: 500px;
            bottom: 40px;
        }
        .semicircle {
            height: 20px;
            width: 40px;
            top: 2px;
            right: 7px;
            rotate: -45deg;
            border-radius: 30px 30px 0 0;
            position: relative;
        }
        .buy {
            height: 70px;
            width: 140px;
            background-color: #649756;
            border-radius: 7%;
            border: 3.5px solid white;
            position: absolute;
            margin: auto;
            top: 450px;
            bottom: 0;
            left: 0;
            right: 0;
            z-index: 2;
            display: inline-block;
            align-items:center;
            justify-content:center;
            color: white;
            font-size: 20px;
            transition-duration: 0.4s;
            cursor: pointer;
        }

        .buy:hover {
            background-color: white;
            color: #649756;
        }

        .coins {
            height: 70px;
            width: 140px;
            background-color: #649756;
            position: absolute;
            margin: auto;
            top: 330px;
            bottom: 0;
            left: 0;
            right: 0;
            z-index: 2;
            display: flex;
            align-items:center;
            justify-content:center;
            color: white;
            font-size: 25px;
        }
        
        .coin {
            width: 50px;
        }

        img {
            display: inline-block;
            margin: 10px 5px;
        }

        .balance {
            width: 390px;
            position: absolute;
            margin: auto;
            top: 0;
            bottom: 470px;
            left: 0;
            right: 0;
            z-index: 2;
            display: flex;
            align-items:center;
            justify-content:right;
            color: white;
            font-size: 25px;
        }
        
    </style>
{% endblock %}

{% block content %}
<div class = "balance">
    <a>Balance:&nbsp</a>
    <a id = "balance">10</a>
    {% load static %} 
    <img width = "30", height = "30", src="{% static 'catcoin.svg' %}"/>
</div>
<div class = "colour-container">
    <div class = "eye-colour" style = "background-color: #a2eb63; margin-top: 150px;" onclick="return changeEyeColour('#a2eb63');"></div>
    <div class = "fur-colour" style = "background-color: #efdae9;" onclick="return changeColour('#efdae9', '#efdae9');"></div>
    <div class = "eye-colour" style = "background-color: #95fdff;" onclick="return changeEyeColour('#95fdff');"></div>
    <div class = "fur-colour" style = "background-color: #a95535;" onclick="return changeColour('#a95535', '#a95535');"></div>
    <div class = "eye-colour" style = "background-color: #a96d48;" onclick="return changeEyeColour('#a96d48');"></div>
    <div class = "fur-colour" style = "background-color: #ff8e3d;" onclick="return changeColour('#ff8e3d', '#ff8e3d');"></div>
    <div class = "eye-colour" style = "background-color: #f7ff65;" onclick="return changeEyeColour('#f7ff65');"></div>
    <div class = "fur-colour" style = "background-color: #696969;" onclick="return changeColour('#696969', '#696969');"></div>
    <div class = "eye-colour" style = "background-color: #f1adff;" onclick="return changeEyeColour('#f1adff');"></div>
    <div class = "fur-colour" style = "background-color: #33292b;" onclick="return changeColour('#33292b', '#33292b');"></div>
    <div class = "eye-colour" style = "background-color: #ff0000;" onclick="return changeEyeColour('#ff0000');"></div>
    <div class = "fur-colour" style = "background-color: #33292b;"><div class = "semicircle" style = "background-color: #efdae9;" onclick="return changeColour('#33292b', '#efdae9');"></div>
</div>
<div class="container-1">
    <div class="cat">
        <div class="face" id = "face">
            <div class="inner-l"></div>
            <div class="inner-r"></div>
            <div class="eye-l" id = "eye-l">
                <div class = "eyeball"><div class="eyeshine"><div class="eyeshine2"></div></div></div>
            </div>
            <div class="eye-r" id = "eye-r">
                <div class = "eyeball"><div class="eyeshine"><div class="eyeshine2"></div></div></div>
            </div>
            <div class="nose">
                <div class="l1"></div>
                <div class="l2"></div>
            </div>
        </div>
        <div class="body" id = "body">
            <div class="paw-l" id = "paw-l"></div>
            <div class="paw-r" id = "paw-r"></div>
            <div class="tail" id = "tail"></div>
        </div>
        <div class="shadow"></div>
    </div>
</div>
<div class = "coins"> 
    <a id = "price">0</a>
    {% load static %} 
    <img width = "30", height = "30", src="{% static 'catcoin.svg' %}"/>
</div>
<button class = "buy" onclick = "return buyNow();">BUY NOW</button>


<script>
    colour_price = 0;
    eye_price = 0;
    let balance = ' {{ points_available }}';
    let current_fur_colour = '{{ fur_colour }}'; 
    let current_eye_colour = '{{ eye_colour }}'; 
    let equipped_eye_colour = '{{ eye_colour }}';
    document.getElementById("balance").innerHTML = balance;

    current_body_colour = current_fur_colour.split(",")[0];
    current_patches = current_fur_colour.split(",")[1];
    equipped_body_colour = current_fur_colour.split(",")[0];
    equipped_patches = current_fur_colour.split(",")[1];
    if (equipped_patches == "") {
        equipped_patches = equipped_body_colour;
    }
    changeColour(current_body_colour, current_patches);
    changeEyeColour(current_eye_colour);

    function changeColour(body_colour, patches) {
    /* 
        Changes the colours of the cat's fur based on the button clicked.
        
        Authors:
            Des
    */
        var colour = ["face", "body", "tail", "paw-r"];
        colour.forEach(function (item, index) {
            document.getElementById(item).style.backgroundColor = body_colour;
        });
        var styleElem = document.head.appendChild(document.createElement("style"));
        styleElem.innerHTML = ".face:before {border-bottom: 50px solid " + body_colour + ";}";
        equipped_body_colour = body_colour;

        //Changing the colour of the patches.

        var styleElem = document.head.appendChild(document.createElement("style"));
        styleElem.innerHTML = ".face:after {border-bottom: 50px solid " + patches + ";}";
        document.getElementById("paw-l").style.backgroundColor = patches;
        equipped_patches = patches;
        if ((current_body_colour == equipped_body_colour) && (current_patches == equipped_patches)) {
            colour_price = 0;
        } else {
            colour_price = 10;
        }
        document.getElementById("price").innerHTML = colour_price + eye_price;
    }

    function changeEyeColour(colour) {
    /* 
        Changes the colours of the cat's eyes based on the button clicked.
        
        Authors:
            Des
    */
        var eye_colour = ["eye-l", "eye-r"];
        eye_colour.forEach(function (item, index) {
            document.getElementById(item).style.backgroundColor = colour;
        });
        equipped_eye_colour = colour;
        if (current_eye_colour == equipped_eye_colour) {
            eye_price = 0;
        } else {
            eye_price = 10;
        }
        document.getElementById("price").innerHTML = colour_price + eye_price;
    }

    function buyNow() {
    /* 
        Checks if the user balance is greater than the cost of the item they're trying to buy.
        If it's greater, sends a post request.
        
        Authors:
            Des
    */
        balance = parseInt(document.getElementById("balance").innerHTML);
        price = parseInt(document.getElementById("price").innerHTML);
        
        if (balance < price) {
            alert("Oops! You don't have enough money to buy this.");
        } else {
            document.getElementById("balance").innerHTML = balance - price;
            fur_colour = equipped_body_colour + "," + equipped_patches;
            
            if ((current_body_colour == equipped_body_colour) && (current_patches == equipped_patches)) {
                purchase_new_colour_fur = "false"
            } else {
                purchase_new_colour_fur = "true"
            }

            if (current_eye_colour == equipped_eye_colour) {
                purchase_new_colour_eyes = "false"
            } else {
                purchase_new_colour_eyes = "true"
            }
            let csrftoken = '{{ csrf_token }}'

            var dictionary = {
                'purchase_new_colour_eyes': purchase_new_colour_eyes,
                'purchase_new_colour_fur': purchase_new_colour_fur,
                'fur_colour': fur_colour,
                'eye_colour': equipped_eye_colour
            }
            
            var url = "";
            var cat="purchase_new_colour_eyes="+purchase_new_colour_eyes+"&purchase_new_colour_fur="+purchase_new_colour_fur+"&fur_colour="+fur_colour+"&eye_colour="+equipped_eye_colour;
            fetch(url, {
                credentials: 'include',
                method: 'POST',
                mode: 'same-origin',
                headers: {
                'Content-Type': 'application/x-www-form-urlencoded',
                'X-CSRFToken': csrftoken
                },
                body: cat, 
            });
            window.location.reload();
        }
    }
</script>

{% endblock %}  q