{% extends "base.html" %}

{% load static %}

{% block title %}
    My Stats
{% endblock %}

{% block head %}
    <!-- Placeholder favicon -->
    <link rel="icon" type="image/x-icon" href="{% static 'cat-face.png' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'cat_animation.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'recycling_bin.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'tupperware.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'waterbottle.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'advice.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'my_stats.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'friends.css' %}">

    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap" rel="stylesheet"/> 
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap" rel="stylesheet"/> 

    <style>                                     
        body {
            background-color: #649756;
        }
        div.row {
            height: 25%;
        }
        
    </style>
{% endblock %}

{% block content %}

<div class='main_column'>

    <div class="card_section">

        <div class="player_card">
            <div class="profile_pic">

            </div>
            <div class="username_box">{{username}}</div>
            
            <div class="stat_line">
                <div class="stat_name">bottles</div>
                <div class="stat">{{bottle_num}}</div>   
            </div>
            <div class="stat_line">
                <div class="stat_name">articles</div>
                <div class="stat">{{article_num}}</div>   
            </div>
            <div class="stat_line">
                <div class="stat_name">recycles</div>
                <div class="stat">{{recycle_num}}</div>   
            </div>
        </div>


        <div class="player_card">
            <div class="profile_pic">

            </div>
            <div class="username_box">{{friend_username}}</div>
            
            <div class="stat_line">
                <div class="stat_name">bottles</div>
                <div class="stat">{{friend_bottle_num}}</div>   
            </div>
            <div class="stat_line">
                <div class="stat_name">articles</div>
                <div class="stat">{{friend_article_num}}</div>   
            </div>
            <div class="stat_line">
                <div class="stat_name">recycles</div>
                <div class="stat">{{friend_recycle_num}}</div>   
            </div>
        </div>
    </div>

    


</div> 

{% endblock %}