<!-- Page created by Des 
    NOT FINISHED AT ALL -->

{% extends "base.html" %}

{% load static %}

{% block title %}
    Shop
{% endblock %}

{% block head %}
    <!-- Placeholder favicon -->
    <link rel="icon" type="image/x-icon" href="{% static 'cat-face.png' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'cat_animation.css' %}">

    <style>                                     
        body {
            background-color: #649756;
        }
        div.row {
            height: 25%;
        }
        .container-2, .container-3, .container-4{
            height: 120px;
            width: 120px;
            position: absolute;
            margin: auto;
            border-radius: 20%;
            border: 3px solid white;
            top: 65%;
            bottom: 0;
            display: flex;
            align-items:center;
            justify-content:center;
        }

        .container-2{
            left: 0;
            right: 50%;
        }

        .container-3{
            left: 0;
            right: 0;
        }

        .container-4{
            left: 50%;
            right: 0;
        }

        .coin {
            width: 50px;
        }

        img {
            display: inline-block;
            margin: 10px 5px;
        }

        .balance {
            width: 500px;
            position: absolute;
            margin: auto;
            top: 0;
            bottom: 470px;
            left: 0;
            right: 0;
            z-index: 2;
            display: flex;
            align-items:center;
            justify-content:right;
            color: white;
            font-size: 25px;
        }

        .hat-container {
            height:300px;
            width: 300px;
            position: absolute;
            margin: auto;
            display: flex;
            justify-content: center;
            align-items: center;
            top: 0;
            bottom: 280px;
            left: 0;
            right: 115px;
            z-index: -1;
        }
        .buy {
            height: 40px;
            width: 100px;
            background-color: #649756;
            border-radius: 7%;
            border: 3px solid white;
            position: absolute;
            margin: auto;
            top: 270px;
            bottom: 0;
            left: 100px;
            right: 0;
            z-index: 2;
            display: inline-block;
            justify-content:center;
            color: white;
            font-size: 15px;
            transition-duration: 0.4s;
            cursor: pointer;
        }

        .buy:hover {
            background-color: white;
            color: #649756;
        }

        .coins {
            height: 70px;
            width: 140px;
            position: absolute;
            margin: auto;
            top: 270px;
            bottom: 0;
            left: 0;
            right: 100px;
            z-index: 2;
            display: flex;
            align-items:center;
            justify-content:center;
            color: white;
            font-size: 25px;
        }
    </style>
{% endblock %}

{% block content %}
<div class = "balance">
    <a>Balance:&nbsp</a>
    <a id = "balance">10</a>
    {% load static %} 
    <img width = "30", height = "30", src="{% static 'catcoin.svg' %}"/>
</div>

<div id = "hat-container" class="hat-container">
    {% load static %} 
    <img id = "hat" width = '220', height = '220' src = "{% static 'blank-hat.png' %}">
</div>

<div class="container-1">
    <div class="cat">
        <div class="face">
            <div class="inner-l"></div>
            <div class="inner-r"></div>
            <div class="eye-l">
                <div class = "eyeball"><div class="eyeshine"><div class="eyeshine2"></div></div></div>
            </div>
            <div class="eye-r">
                <div class = "eyeball"><div class="eyeshine"><div class="eyeshine2"></div></div></div>
            </div>
            <div class="nose">
                <div class="l1"></div>
                <div class="l2"></div>
            </div>
        </div>
        <div class="body">
            <div class="paw-l"></div>
            <div class="paw-r"></div>
            <div class="tail"></div>
        </div>
        <div class="shadow"></div>
    </div>
</div>
<div class = "coins"> 
    <a id = "price">10</a>
    {% load static %} 
    <img width = "30", height = "30", src="{% static 'catcoin.svg' %}"/>
</div>
<button class = "buy" onclick = "return buyNow();">BUY NOW</button>
<div id = "2" class="container-2" onclick = "return changeHat('2', '120');">
    {% load static %} 
    <img width = "100", height = "100", src="{% static '1.svg' %}"/>  
</div>
<div id = "3" class="container-3" onclick = "return changeHat('3', '220');">
    {% load static %} 
    <img width = "100", height = "100", src="{% static '3.svg' %}"/>
</div>
<div id = "4" class="container-4" onclick = "return changeHat('4', '240');">
    {% load static %} 
    <img width = "100", height = "100", src="{% static '2.svg' %}"/>
</div>

<script>
    //take in the user's current item equipped
function changeHat(container, size) {
    /* 
        Changes the cat's hat.
        
        Authors:
            Des
    */
    var temp = document.getElementById(container).innerHTML.split("static/")[1];
    var hat_name = temp.split(".svg")[0];
    document.getElementById("hat").src = "/static/" + hat_name + ".svg";
    document.getElementById("hat").width = size;
    document.getElementById("hat").height = size;

}

function buyNow() {
    /* 
        Checks if the user balance is greater than the cost of the item they're trying to buy.
        If it's greater, sends a post request.
        
        Authors:
            Des
    */
        hat_name = document.getElementById("hat").src.split("static/")[1];
        hat_name = hat_name.split(".svg")[0]
        balance = parseInt(document.getElementById("balance").innerHTML);
        price = parseInt(document.getElementById("price").innerHTML);
        
        if (balance < price) {
            alert("Oops! You don't have enough money to buy this.");
        } else {
            document.getElementById("balance").innerHTML = price - balance;
            let csrftoken = '{{ csrf_token }}'
            
            var dictionary = {
                'purchase_new_item': "true", //change this to an if statement checking if the user is buying a new item
                'item_id': hat_name
            }
            
            var url = "";
            var request="price="+price+"&balance="+balance;
            fetch(url, {
                credentials: 'include',
                method: 'POST',
                mode: 'same-origin',
                headers: {
                'Content-Type': 'application/x-www-form-urlencoded',
                'X-CSRFToken': csrftoken
                },
                body: request, 
            });
        }
    }
</script>

{% endblock %}