<!-- Page created by Des -->
<!-- Leaderboard by Sanchi -->

{% extends "base.html" %}

{% load static %}

{% block title %}
    Leaderboard
{% endblock %}

{% block head %}
    <!-- Placeholder favicon -->
    <link rel="icon" type="image/x-icon" href="{% static 'cat-face.png' %}">

    <link rel="stylesheet" type="text/css" href="{% static 'leaderboard.css' %}">
{% endblock %}

{% block content %}
<div class="container-fluid">
    <br><br>
    <p class="title">LEADERBOARD</p>
    <br><br>
    <h2 class="own-rank">You're in rank #{{ rank }}!</h2>
    <br><br>
    <table class="container-fluid" id="leaderboard">

        {% for row in data %}
            <tr>
                <th>
                    <div class="first-col">
                        {% if forloop.counter == 1 %}
                            <div class="crown">
                                <div class="gold crown-point _1"></div>
                                <div class="gold2 crown-point _2"></div>
                                <div class="gold crown-point _3"></div>
                                <div class="gold2 crown-point _4"></div>
                                <div class="gold crown-point _5"></div>
                            </div>
                        {% endif %}

                        {% if forloop.counter == 2 %}
                            <div class="crown">
                                <div class="silver crown-point _1"></div>
                                <div class="silver2 crown-point _2"></div>
                                <div class="silver crown-point _3"></div>
                                <div class="silver2 crown-point _4"></div>
                                <div class="silver crown-point _5"></div>
                            </div>
                        {% endif %}

                        {% if forloop.counter == 3 %}
                            <div class="crown">
                                <div class="bronze crown-point _1"></div>
                                <div class="bronze2 crown-point _2"></div>
                                <div class="bronze crown-point _3"></div>
                                <div class="bronze2 crown-point _4"></div>
                                <div class="bronze crown-point _5"></div>
                            </div>
                        {% endif %}
                        <div class="cat-icon">
                            <div class="face" id="face{{ forloop.counter }}" data-fur-colour="{{ row.creature_fur_colour }}">
                                <div class="ear-l" id="ear-l{{ forloop.counter }}"></div>
                                <div class="ear-r" id="ear-r{{ forloop.counter }}"></div>
                                <div class="inner-l"></div>
                                <div class="inner-r"></div>
                                <div class="eye-l" id="eye-l{{ forloop.counter }}" data-eye-colour="{{ row.creature_eye_colour }}">
                                    <div class="eyeball"><div class="eyeshine"><div class="eyeshine2"></div></div></div>
                                </div>
                                <div class="eye-r" id="eye-r{{ forloop.counter }}">
                                    <div class="eyeball"><div class="eyeshine"><div class="eyeshine2"></div></div></div>
                                </div>
                                <div class="nose">
                                    <div class="l1"></div>
                                    <div class="l2"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </th>

                <th class="table-data" id="rank">
                    #{{ forloop.counter }}
                </th>

                <th class="table-data">{{ row.points }} points</th>

                <th class="table-data">{{ row.username }}</th>
            </tr>
        {% endfor %}
    </table>
    <br>
</div>

<script>

    var rows = document.getElementById("leaderboard").rows.length - 1; // Excludes header row
    
    // Displays each user's cat on the leaderboard
    for (var i=1; i<=rows; i++) {

        // Get the user's cat's fur, patch, and eye colours
        var currentCatFace = document.getElementById("face"+i);
        
        var furColour = currentCatFace.dataset.furColour.split(",")[0];
        var patchColour = currentCatFace.dataset.furColour.split(",")[1];

        var currentCatEyeL = document.getElementById("eye-l"+i);
        var eyeColour = currentCatEyeL.dataset.eyeColour;

        // Set the user's cat's fur, patch, and eye colours
        currentCatFace.style.backgroundColor = furColour;
        currentCatFace.style.setProperty('--fc', furColour);

        var currentCatEarL = document.getElementById("ear-l"+i);
        currentCatEarL.style.setProperty('--fc', furColour);
        var currentCatEarR = document.getElementById("ear-r"+i);
        currentCatEarR.style.setProperty('--pc', patchColour);

        currentCatEyeL.style.backgroundColor = eyeColour;
        var currentCatEyeR = document.getElementById("eye-r"+i);
        currentCatEyeR.style.backgroundColor = eyeColour;
        currentCatFace.style.setProperty('--ec', eyeColour);

    }

</script>
{% endblock %}
