<!-- Page created by Lucia 
    Minor edits done by Des -->
{% extends "base.html" %}

{% load static %}

{% block title %}
    My Stats
{% endblock %}

{% block head %}
    <!-- Placeholder favicon -->
    <link rel="icon" type="image/x-icon" href="{% static 'cat-face.png' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'cat_animation.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'recycling_bin.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'tupperware.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'waterbottle.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'advice.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'my_stats.css' %}">

    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap" rel="stylesheet"/> 
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap" rel="stylesheet"/> 

    <style>                                     
        body {
            background-color: #649756;
        }
        div.row {
            height: 25%;
        }
        
    </style>
{% endblock %}

{% block content %}

<div class="container-fluid">


<div class = 'text-box' id="title-box">
    <p class = "title">MY STATS</p>
    <p>Hey {{username}}! Here are your stats...</p>
</div>
<div class = 'card'>
    <span class = 'num' data-val={{bottle_num}}>0</span>
    <span class = 'c_text'>bottle refills</span>
    <div class = 'icon'>
        <div class="waterbottle">
            <div class="bottle-cap">
                <div class = "cap-shine"></div>
                <div class = "cap-shine-2"></div>
                <div class ="cap-shadow"></div>
            </div>
            <div class="bottle-top"></div>
            <div class="bottle-bottom"></div>
        </div>
    </div>
</div>
<div class = 'text-box'>
    <p>Plastic bottles need up to 450 years to dissolve</p>
    <p>A reusable bottle stops around 156 plastic ones being used anually</p>
    <p>Try and hit that target!</p>

</div>
<div class = 'card'>
    <span class = 'num' data-val={{article_num}}>0</span>
    <span class = 'c_text'>articles read</span>
    <div class = 'icon'>
        <div class ="tupperware">
            <div class="tup-cap"></div>
            <div class="tup-box-top-line"></div>
            <div class="tup-box"></div>
            <div class="tup-box-bottom"></div>
            <div class="tup-box-bottom-l"></div>
            <div class="tup-box-bottom-r"></div>
        </div>
    </div>
</div>
<div class = 'text-box'>
    <p>By staying aware and signing petitions we can have a huge impact!</p>
    <p>For example this article on big companies vs consumers with greenhouse gases...</p>
    <a id= "page-link" href="https://www.bbc.com/future/article/20220504-why-the-wrong-people-are-blamed-for-climate-change">How companies blame you for climate change </a>

</div>
<div class = 'card'>
    <span class = 'num' data-val={{recycle_num}}>0</span>
    <span class = 'c_text'>items recyled</span>
    <div class = 'icon'>
        
        <div class ="recycling-bin">
            <div class="cap-top"></div>
            <div class="cap">
                <div class="hole"></div>
            </div>
            <div class="box-top-line"></div>
            <div class="box">
                <span id = "symbol" class="recycling-symbol">&#9851;</span>
            </div>
            <div class="box-bottom-l"></div>
            <div class="box-bottom-r"></div>
        </div>
        
    </div>
</div>
<div class = 'text-box'>
    <p>Did you know? Recyling a single...</p>
    <p>plastic bottle = energy savings to power a lightbulb for three+ hours</p>
    <p>glass bottle = energy savings to power a laptop for half an hour</p>
    <p>aluminium can = energy savings to power a TV for up to three hours</p>
    <p>(that's a lot of energy)</p>

</div>


<div>
<div id = "hat-container" class="hat-container" style = "height: 10px; position: relative; top: 110px; left: -1.5em; margin: auto;">
    {% load static %} 
    <img id = "hat" width = '220', height = '220' src = "{% static 'blank-hat.png' %}">
</div>
<div class="cat" id="cat1">
    <div class="face" id="u_face">
        <div class="ear-l" id = "u_ear-l"></div>
        <div class="ear-r" id="u_ear-r"></div>
        <div class="inner-l"></div>
        <div class="inner-r"></div>
        <div class="eye-l" id="u_eye-l">
            <div class = "eyeball"><div class="eyeshine"><div class="eyeshine2"></div></div></div>
        </div>
        <div class="eye-r" id="u_eye-r">
            <div class = "eyeball"><div class="eyeshine"><div class="eyeshine2"></div></div></div>
        </div>
        <div class="nose">
            <div class="l1"></div>
            <div class="l2"></div>
        </div>
    </div>
    <div class="body" id="u_body">
        <div class="paw-l" id="u_paw-l"></div>
        <div class="paw-r" id="u_paw-r"></div>
        <div class="tail" id="u_tail"></div>
    </div>
    <div class="shadow"></div>
</div>
</div>


<div class = 'text-box' id="source-box">
    <p class="source">Sources:</p>
    <p class="source">https://www.beyondplastics.org/fact-sheets/plastic-water-bottles</p>
    <p class="source">https://myequa.com/blogs/blog/89626311-facts-about-plastic-bottles</p>
    <p class="source">https://www.recyclingbins.co.uk/recycling-facts/</p>
</div>

</div>

<script>
    let valDisplays = document.querySelectorAll(".num");
    // overall time taken
    let interval = 1500;

    let u_fur_colour = '{{ fur_colour }}'; 
    let u_eye_colour = '{{ eye_colour }}'; 
    let currently_wearing = '{{ cat_item }}';
    let current_size = '{{ cat_item_scale }}';

    if (currently_wearing != 0) {
            document.getElementById("hat").src = "/static/" + currently_wearing + ".svg";
            document.getElementById("hat").width = current_size;
            document.getElementById("hat").height = current_size;
    }

    u_body_colour = u_fur_colour.split(",")[0];
    u_patches = u_fur_colour.split(",")[1];

    // change user cat body colour
    var colour = ["u_face", "u_body", "u_tail", "u_paw-r"];
    colour.forEach(function (item, index) {
        document.getElementById(item).style.backgroundColor = u_body_colour;
    });

    var eye_colour = ["u_eye-l", "u_eye-r"];
    eye_colour.forEach(function (item, index) {
        document.getElementById(item).style.backgroundColor = u_eye_colour;
    });

    document.getElementById("u_ear-l").style.borderBottom = "50px solid " + u_body_colour;
    document.getElementById("u_ear-r").style.borderBottom = "50px solid " + u_patches;
    document.getElementById("u_paw-l").style.backgroundColor = u_patches;

    // for all the numbers on the page
    valDisplays.forEach((valDisplay) =>{
        let startValue = 0;
        let endValue = parseInt(valDisplay.getAttribute("data-val"));

        let duration;

        // by dividing duration ensures they end at the same time
        if (endValue!=0){
            duration = Math.floor(interval /endValue);
        } else {
            duration =0;
        }
        
        // at set intervals we increment the numbers on the page
        let counter = setInterval(function(){
            valDisplay.textContent = startValue;
            if (startValue == endValue){
                clearInterval(counter);
            }
            startValue+=1;
        }, duration);
    });


</script>


{% endblock %}