{% extends "base.html" %}

{% load static %}

{% block title %}
    My Stats
{% endblock %}

{% block head %}
    <!-- Placeholder favicon -->
    <link rel="icon" type="image/x-icon" href="{% static 'cat-face.png' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'cat_animation.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'recycling_bin.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'tupperware.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'waterbottle.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'advice.css' %}">

    <style>                                     
        body {
            background-color: #649756;
        }
        div.row {
            height: 25%;
        }
        
    </style>
{% endblock %}

{% block content %}
<div class="container-1">
    <div class="cat">
        <div class="face">
            <div class="inner-l"></div>
            <div class="inner-r"></div>
            <div class="eye-l">
                <div class = "eyeball"><div class="eyeshine"><div class="eyeshine2"></div></div></div>
            </div>
            <div class="eye-r">
                <div class = "eyeball"><div class="eyeshine"><div class="eyeshine2"></div></div></div>
            </div>
            <div class="nose">
                <div class="l1"></div>
                <div class="l2"></div>
            </div>
            <div class="tear" id = "tear"></div>
        </div>
        <div class="body">
            <div class="paw-l"></div>
            <div class="paw-r"></div>
            <div class="tail"></div>
        </div>
        <div class="shadow"></div>
    </div>
</div>

{% endblock %}