<!DOCTYPE html>
<html>
    <head>
        <title>Recycling Bin</title>
        <link rel="stylesheet" href="recycling_bin.css">
    </head>
    <body>
        <a href="cat.html">
        <div class="container">
            <div class ="recycling-bin">
                <div class="cap-top"></div>
                <div class="cap">
                    <div class="hole"></div>
                </div>
                <div class="box-top-line"></div>
                <div class="box">
                    <span class="recycling-symbol">&#9851;</span>
                </div>
                <div class="box-bottom-l"></div>
                <div class="box-bottom-r"></div>
            </div>
        </div>
        </a>
    </body>
</html>