
  {% extends "base.html" %}

  {% load static %}
  
  {% block title %}
   Game masters
  {% endblock %}
  
  {% block head %}
    <!-- Placeholder favicon -->
    <link rel="icon" type="image/x-icon" href="{% static 'cat-face.png' %}">

    <style>                                     
        body {
            background-color: #649756;
        }
        div.row {
            height: 25%;
        }
        form {
          margin: 0 auto; 
          width:250px;
        }

        #advice {
    text-align: center;
    width: 30em;
    margin: 0 auto;
    padding: 3em;
    z-index: 1;
}
        
    </style>
{% endblock %}
{% block content %}
<div id="advice" class="col-6"></div>
<form method="POST" action="">
  {% csrf_token %}
  <label for="content" class="form-label">Content or link</label><br>
  <textarea id="content" name="content" rows="5" cols="40"></textarea> <br>
  <label for="source" class="form-label">Source</label><br>
  <textarea id="source" name="source" rows="5" cols="40"></textarea> <br>
  <input type="radio" id="content" name="link_or_content" value="content">
  <label for="content" class="form-label">Content</label><br>
  <input type="radio" id="link" name="link_or_content" value="link">
  <label for="link" class="form-label">Link</label><br>
  <input type="submit" value="Submit" style="margin-left: 50%">
</form> 
</div>

{% endblock %}
