<!DOCTYPE html>
<html>
    <head>
        <title>Tupperware</title>
        <link rel="stylesheet" href="tupperware.css">
    </head>
    <body>
        <a href="cat.html">
        <div class="container">
            <div class ="tupperware">
                <div class="cap"></div>
                <div class="box-top-line"></div>
                <div class="box"></div>
                <div class="box-bottom"></div>
                <div class="box-bottom-l"></div>
                <div class="box-bottom-r"></div>
            </div>
        </div>
        </a>
    </body>
</html>