<!DOCTYPE html>
<html>
    <head>
        <title>Waterbottle</title>
        <link rel="stylesheet" href="waterbottle.css">
    </head>
    <body>
        <a href="cat.html">
        <div class="container">
            <div class="waterbottle">
                <div class="bottle-cap">
                    <div class = "cap-shine"></div>
                    <div class = "cap-shine-2"></div>
                    <div class ="cap-shadow"></div>
                </div>
                <div class="bottle-top"></div>
                <div class="bottle-bottom"></div>
            </div>
        </a>
    </body>
</html>