/* CSS created by Des */

body{
    padding: 0;
    margin: 0;
}

.container-2{
    height:170px;
    width: 150px;
    background-color: transparent;
    position: absolute;
    transform: scale(0.5);
    top: 50%;
    bottom: 0;
    left: 10%;
    right: 0;
    z-index: -1;
}

.container-3{
    height:150px;
    width: 150px;
    background-color: transparent;
    position: absolute;
    transform: scale(0.5);
    top: 50%;
    bottom: 0;
    left: 40%;
    right: 0;
    z-index: -1;
}

.cat_face{
    background-color: #33292b;
    height: 90px;
    width: 140px;
    border-radius: 50px;
    position:relative;
}

.cat_ear-l, .cat_ear-r{
    width: 0;
    height: 0;
    border-bottom: 50px solid #33292b;
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
    position: relative;
    z-index:-1;
}

.cat_ear-l{
    top: 70px;
    transform: rotate(-30deg);
}

.cat_ear-r{
    top: 20px;
    left: 100px;
    transform: rotate(30deg);
}
