/* CSS created by Des */

.container-2{
    transform: scale(0.6);
    height:500px;
    width: 200px;
    background-color: transparent;
    position: absolute;
    margin: auto;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: -1;
    float:left;
}

.tupperware{
    position:relative;
    top: 50px;
    left:20px;
}

.tup-cap{
    position: relative;
    background: rgb(255, 66, 66);
    width: 240px;
    height: 10px;
    border-radius: 20% 20% 0 0;
    left: -5px;
    bottom: 2px;
}

.tup-box-top-line{
    position: relative;
    border-top: 3px solid rgba(182, 202, 206, 0.7);
    width: 235px;
    left: -2px;
}

.tup-box{
    position: relative;
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
    border-top: 60px solid rgba(182, 202, 206, 0.7);
    width: 230px;
}

.tup-box-bottom{
    position: relative;
    border-top: 3px solid rgba(182, 202, 206, 0.7);
    top: 2px;
    width: 188px;
    left: 21px;
}

.tup-box-bottom-l, .tup-box-bottom-r{
    position: relative;
    border-top: 7px solid rgba(182, 202, 206, 0.7);
    width: 90px;
}

.tup-box-bottom-l{
    left: 21px;
    border-radius: 0 0 30% 60%;
    border-left: 5px solid transparent;
    top: 2px;
}

.tup-box-bottom-r{
    left: 118px;
    border-radius: 0 0 60% 30%;
    border-right: 5px solid transparent;
    bottom: 4px;
}
